/*
@font-face {
    font-family: 'SF-Pro';
    src: url('San-Francisco-Pro-Font/SF-Pro-Display-Light.otf', 'src: url(San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf', 'San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf, San-Francisco-Pro-Font/SF-Pro-Display-Regular.otf');
    
*/


/*
@font-face {
    font-family: 'SF-Pro';
    src: url('San-Francisco-Pro-Font/SF-Pro-Display-Light.otf', 'src: url(San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf', 'San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf', 'San-Francisco-Pro-Font/SF-Pro-Display-Regular.otf');
}
*/

@font-face {
    font-family: 'SF-Pro';
    src: url(San-Francisco-Pro-Font/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: 'SF-Pro';
    src: url(San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'SF-Pro';
    src: url(San-Francisco-Pro-Font/SF-Pro-Display-Regular.otf);
    font-weight: normal;
}


/*
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
* {
    font-family: SF-Pro;
}
*/

body,
p {
    font-family: SF-Pro;
    font-weight: normal;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*
    font-family: SF-Pro;
    font-weight: bold;
    font-size: 18px;
*/
}

.card-body {
    font-family: SF-Pro;
    font-size: 12px;
    font-weight: normal;
}
