/*
@font-face {
    font-family: 'SF-Pro';
    src: url('San-Francisco-Pro-Font/SF-Pro-Display-Light.otf', 'src: url(San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf', 'San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf, San-Francisco-Pro-Font/SF-Pro-Display-Regular.otf');
    
*/


/*
@font-face {
    font-family: 'SF-Pro';
    src: url('San-Francisco-Pro-Font/SF-Pro-Display-Light.otf', 'src: url(San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf', 'San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf', 'San-Francisco-Pro-Font/SF-Pro-Display-Regular.otf');
}
*/

@font-face {
    font-family: 'SF-Pro';
    src: url(San-Francisco-Pro-Font/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: 'SF-Pro';
    src: url(San-Francisco-Pro-Font/SF-Pro-Display-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'SF-Pro';
    src: url(San-Francisco-Pro-Font/SF-Pro-Display-Regular.otf);
    font-weight: normal;
}


/*
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
* {
    font-family: SF-Pro;
}
*/

body,
p {
    font-family: SF-Pro;
    font-weight: normal;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*
    font-family: SF-Pro;
    font-weight: bold;
    font-size: 18px;
*/
}

.card-body {
    font-family: SF-Pro;
    font-size: 12px;
    font-weight: normal;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}


/* ===== PHONE  ===== */

@media (max-width: 576px) {
    h1,
    .h1 {
        /* font-size: 2.5rem;*/
        font-size: 2em;
    }
    h2,
    .h2 {
        /*        font-size: 2rem;*/
        font-size: 1.625em;
    }
    h3,
    .h3 {
        /*        font-size: 1.75rem;*/
        font-size: 1.375em;
    }
    h4,
    .h4 {
        /*        font-size: 1.5rem;*/
        font-size: 1.125em;
    }
    h5,
    .h5 {
        font-size: 1rem;
    }
    h6,
    .h6 {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
