body{
   font-family: 'Raleway', sans-serif;
}
#search{
    color: black;
}
#drop{
    background: white;
}
h3{
font-weight: bold;


}
h6{
font-weight: bold;


}
#picksheader{
font-weight: bold;
    color: red;
}
#read{
    text-decoration: none;
    color: red;
}
#cardHeader{
    color: red;
    font-weight: bold;
}
#globe{
    color: #00bfa5;
}
#bookmark{
    color: red;
}
#calender{
    border: 1px solid red;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    background: red;

}
