body {
    font-family: 'Raleway', sans-serif;
    background: #fafafa;
}


/*======== GENERAL RESOURCES==============*/

.section {
    margin: 40px 10px;
}

.section-title {
    color: #FF0000;
    margin: 20px 0px;
    text-decoration-style: double;
}

#categories table {
    /*===== make the section to center =====*/
    margin: auto;
}


/*======== THEME COLORS ================*/

.colorMainHeaders {
    text-decoration-color: #FF0000;
}

.colorArticleHeaders {
    text-decoration-color: #111111;
}

.colorBodyText {
    text-decoration-color: #333333;
}

.colorBackground {
    text-decoration-color: #FFFFFF;
}


/*======== END OF THEME COLORS ========*/

#search {
    color: black;
}

#drop {
    background: white;
}

h3 {
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

#picksheader {
    font-weight: bold;
    color: red;
}

#read {
    text-decoration: none;
    color: red;
}

#cardHeader {
    color: red;
    font-weight: bold;
}

#globe {
    color: #00bfa5;
}

#bookmark {
    color: red;
}

#calender {
    border: 1px solid red;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    background: red;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    width: 100vw;
    z-index: 99999
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    position: fixed;
    /*    Make hidden by default */
    left: -250px;
    top: 60px;
    color: #000;
    font-weight: bold;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    /* top layer */
    z-index: 9999;
}

#sidebar.active {
    /* Remove the left hidden on sidebar active */
    left: 0;
    /*
    margin-left: 0px;
    transform: rotateY(100deg);
*/
}

#sidebar ul.components {
    padding: 20px 0;
}

#prof {
    border-top: 1px solid #d32f2f;
    border-bottom: 1px solid #ff8a80;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a :hover {
    color: #red;
}


/*========= SEARCH BUTTON =======================*/


/* https://codepen.io/anon/pen/djYRqe    */

#myInput {
    border: none;
    height: 100%;
    border-radius: 0;
    color: #EDEDED;
    width: 0%;
    transition: width 0.3s ease-in-out;
    position: absolute;
    z-index: -1;
    right: 0;
    display: block;
}

@media(max-width:600px) {
    #myInput {
        left: 0;
    }
}

#myInput:focus {
    background: #FF0000;
    width: 150%;
    transition: width 0.5s ease-in-out;
    border: none;
    box-shadow: none;
    z-index: 3;
    right: 0;
    display: block;
}

#myInput:focus~.collapse #fade {
    opacity: 0;
    background-color: #880000;
}

#fade {
    opacity: 1;
    transition: all 0.5s ease;
}

#search {
    position: absolute;
    right: 0;
    z-index: 100;
}

.glyphicon-search {
    background-color: position: absolute;
    margin-left: 20px;
    z-index: 6;
    font-size: 2em;
    cursor: pointer;
    padding-top: 0px;
    color: #EDEDED;
    display: block;
    float: right;
}


/*========= END SEARCH BUTTON =======================*/


/* ==== SOME OVERLAY FOR SIDE MENU=====*/

.overlay {
    display: flex;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100%;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}


/* display .overlay when it has the .active class */

.overlay.active {
    display: block;
    opacity: 0.7;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    /*   padding: 10px;*/
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
    position: absolute;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}


/*Custom css*/

#picks .card-body,
#recent .card-body {
    height: 150px;
    min-width: 225px;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;
}

#cards {
    overflow-x: scroll;
}

 ::-webkit-scrollbar {
    display: none;
}

#carouselExampleSlidesOnly {
    width: 100vw;
}

#content {
    overflow: hidden;
}


/* ======= MORE CUSTOM CARDS ===============*/


/*==== Cards on the most-read section ======*/

.card {
    box-shadow: 5px 3px 18px #888888;
}

#most-read .card {
    margin-bottom: 10px;
}


/*======== CUSTOM CAROUSEL BUTTONS by Victor ===============*/

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FF0000;
}
